<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brands</key>
	<array/>
	<key>NaviType</key>
	<string>kakao</string>
	<key>OilType</key>
	<string></string>
	<key>FindRadius</key>
	<integer>3000</integer>
	<key>BrandType</key>
	<string>ALL</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Favorites</key>
	<array/>
</dict>
</plist>
